@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
.login {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #6250FE; */
  background: url(../../public/dash\ line\ login.svg) no-repeat center;
  background-size: fit;
  /* background-blend-mode: lighten !important; */
  background-blend-mode: soft-light !important;
}
.login-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 565px;
  height: 763px;
  background: #ffffff;
  filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.1));
  backdrop-filter: blur(6px);
  border-radius: 20px;
  padding: 20px;
}
.login-div .button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 4rem; */
}
.login-div .signInBtn {
  display: flex;
  width: 195px;
  height: 50px;
  /* background: #6250FE; */
  border-radius: 37px;
  /* margin: 0 0.1rem; */
  text-align: center;
  justify-content: center;
  align-items: center;

  color: #6250fe;
}
.btn-active {
  background-color: #6250fe;
  color: #fff !important;
}
.login-div .signInBtn:hover {
  background-color: #6250fe;
  border: 1px solid #6250fe;
  color: #fff;
}
.login-div .button-div .signInBtn:active {
  background-color: #6250fe;
  color: #fff;
}

.login-div .button-div .signInBtn:focus {
  background-color: #6250fe;
  color: #fff;
}
.login-div .button-div .signInBtn::after {
  background-color: #6250fe;
  color: #fff;
}
.signBtnSubmit {
  background-color: #6250fe;
  color: #fff !important;
  margin: 1rem;
}

.signInBtn .btn-font {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  font-family: "DM Sans", sans-serif;
  /* color: #fff; */
}
.login .form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  /* margin-top: 0.5rem; */
}
.login .form-group {
  margin: 0.5rem;
  /* width: 100%; */
  /* padding: 1rem; */
}

.login .formLabel {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  line-height: 23px;
  text-align: left !important;
  color: #000000;
  margin: 10px;
}
.input-container {
  width: 100%;
  align-items: center;
}
.login .login-input {
  width: 410px;
  height: 56px;
  background: rgba(13, 110, 253, 0.05);
  border: 1px solid #004bba;
  box-sizing: border-box;
  border-radius: 35px;
  text-align: center;
  font-size: 16px;
}
.login .input-icon {
  position: absolute;
  min-width: 20px;
  min-height: 20px;
  text-align: center;
  justify-content: center;
  margin: 1.1rem;
  color: #004bba;
  opacity: 0.9;
}
.login .input-icon:hover,
.login .input-icon:active,
.login .input-icon:focus {
  opacity: 1;
}
.login-div .submit-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-top: 2rem; */
}
.login-div .submit-div h6 {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
}

.login .login-link {
  padding: 1rem;
}
.login .login-link a {
  font-family: "DM Sans", sans-serif;
  color: #004bba;
}

/* sign up section css */

.sign-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 565px;
  height: 885px;
  background: #ffffff;
  filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.1));
  backdrop-filter: blur(6px);
  border-radius: 20px;
}
.sign-div .button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 2rem; */
}
.sign-div .signInBtn {
  display: flex;
  width: 195px;
  height: 50px;
  /* background: #6250FE; */
  border-radius: 37px;
  margin: 0 0.8rem;
  text-align: center;
  justify-content: center;
  align-items: center;

  color: #6250fe;
}
.sign-div .signInBtn:hover {
  background-color: #6250fe;
  border: 1px solid #6250fe;
  color: #fff;
}
.sign-div .button-div .signInBtn:active {
  background-color: #6250fe;
  color: #fff;
}

.sign-div .button-div .signInBtn:focus {
  background-color: #6250fe;
  color: #fff;
}
.sign-div .button-div .signInBtn::after {
  background-color: #6250fe;
  color: #fff;
}

.login .form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  /* margin-top: 1rem; */
}
.login .form-group {
  margin: 1rem;
  /* width: 100%; */
  /* padding: 1rem; */
}

.signup .formLabel {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  line-height: 23px;
  text-align: left !important;
  color: #000000;
  margin: 10px;
}

.sign-div .submit-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-top: 2rem; */
}
.sign-div .submit-div h6 {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
}

.login .login-link {
  padding: 1rem;
}
.login .login-link a {
  font-family: "DM Sans", sans-serif;
  color: #004bba;
}

/* media queries */

@media (max-width: 994px) {
  .login {
    width: 100%;
    height: 100%;
    background: url(../../public/stylish-wavy-pattern_1409-1077\ 1.svg) repeat
      center;
  }
  .login-div {
    width: 500px;
    height: 600px;
  }
  .login-div .signInBtn {
    /* display: flex; */
    width: 150px;
    height: 45px;
    text-align: center;
  }
  .signInBtn .btn-font {
    font-size: 16px;
    text-align: center;
  }
  .login .login-input {
    width: 380px;
    height: 50px;
    font-size: 15px;
  }

  /* sign up media query */
  .sign-div {
    width: 500px;
    height: 800px;
  }
  .sign-div .signInBtn {
    /* display: flex; */
    width: 150px;
    height: 38px;
    text-align: center;
    /* padding-bottom: 1rem; */
  }
  .signInBtn .btn-font {
    font-size: 16px;
    text-align: center;
  }
  .sign-div .login-input {
    width: 380px;
    height: 50px;
    font-size: 15px;
  }
  .sign-div .form-group {
    margin: 0.6rem;
  }
}

@media (max-width: 500px) {
  .login {
    width: 100%;
    height: 100%;
    background: url(../../public/stylish-wavy-pattern_1409-1077\ 1.svg) repeat
      center;
  }
  .login-div {
    width: 410px;
    height: 600px;
  }
  .login-div .signInBtn {
    /* display: flex; */
    width: 150px;
    height: 45px;
    text-align: center;
  }
  .signInBtn .btn-font {
    font-size: 16px;
    text-align: center;
  }
  .login .login-input {
    width: 350px;
    height: 50px;
    font-size: 15px;
  }

  /* sign up media query */
  /* sign up media query */
  .sign-div {
    width: 450px;
    height: 700px;
  }
  .sign-div .signInBtn {
    /* display: flex; */
    width: 130px;
    height: 35px;
    text-align: center;
    /* padding-bottom: 1rem; */
  }
  .signInBtn .btn-font {
    font-size: 16px;
    text-align: center;
  }
  .sign-div .login-input {
    width: 380px;
    height: 45px;
    font-size: 15px;
  }
  .sign-div .form-group {
    margin: 0.4rem;
  }
  .sign-div .input-icon {
    margin: 0.9rem;
    min-width: 16px;
    min-height: 16px;
  }
}

@media (max-width: 400px) {
  .login {
    width: 100%;
    height: 100%;
    background: url(../../public/stylish-wavy-pattern_1409-1077\ 1.svg) repeat
      center;
  }
  .login-div {
    width: 340px;
    height: 540px;
  }
  .login-div .signInBtn {
    /* display: flex; */
    width: 120px;
    height: 40px;
    text-align: center;
  }
  .signInBtn .btn-font {
    font-size: 15px;
    text-align: center;
  }
  .login .login-input {
    width: 300px;
    height: 45px;
    font-size: 15px;
  }
  .login .formLabel {
    font-size: 16px;
  }
  .login-div .submit-div h6 {
    font-size: 16px;
  }

  /* sign up media query */
  .sign-div {
    width: 350px;
    height: 650px;
  }
  .sign-div .signInBtn {
    /* display: flex; */
    width: 100px;
    height: 36px;
    text-align: center;
    /* padding-bottom: 1rem; */
  }
  .signInBtn .btn-font {
    font-size: 14px;
    text-align: center;
  }
  .sign-div .login-input {
    width: 280px;
    height: 34px;
    font-size: 15px;
  }
  .sign-div .form-group {
    margin: 0.6rem;
  }
  .sign-div .input-icon {
    margin: 0.55rem;
    min-width: 9px;
    min-height: 8px;
  }
  .sign-div .signBtnSubmit {
    margin-top: 10px;
    padding: 0;
    text-align: center;
  }
  .sign-div .signBtnSubmit .btn-font {
    font-size: 16px;
  }
  .sign-div .login-link {
    font-size: 14px;
  }
}
